body {
    background-color: #393a41; 
    color: #e0e0e0; 
    
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #1b1b22;
    padding: 60px 80px;
    border-radius: 20px;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); 
    
    text-align: center;
    
    border: 1px solid rgba(0, 234, 255, 0.1); 
}

h1 {
    color: #e0e0e0;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

#display {
    font-size: 6em; 
    margin: 30px 0;
    color: #00eaff; 
    font-weight: 700;
    letter-spacing: 1px; 
    
    text-shadow: 
        0 0 10px rgba(0, 234, 255, 0.5), 
        0 0 5px rgba(32, 117, 125, 0.8),
        0 0 10px rgba(0, 234, 255, 0.4); 
}

.controles {
    margin-top: 40px;
}

.controles button {
    padding: 15px 30px;
    margin: 0 10px;
    border: none;
    border-radius: 12px;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #ffffff; 
    
    background-color: #2b2c3a; 
    
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

#iniciar {
    border-bottom: 4px solid #00bcd4; 
}
#pausar {
    border-bottom: 4px solid #9c27b0; 
}
#resetar {
    border-bottom: 4px solid #ff5252; 
}

.controles button:hover {
    transform: translateY(-4px); 
    background-color: #3b3c4f; 
}

#iniciar:hover {
    box-shadow: 0 0 10px #00bcd4, 0 0 20px #00bcd4;
}

#pausar:hover {
    box-shadow: 0 0 10px #9c27b0, 0 0 20px #9c27b0;
}

#resetar:hover {
    box-shadow: 0 0 10px #ff5252, 0 0 20px #ff5252;
}

.controles button:active {
    transform: translateY(0); 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); 
    opacity: 0.95;
}